/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set a background color for the body */
body {
  background-color: #f8f8f8;
}

/* Set a default font family and size */
body,
input,
textarea {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

/* Set a max width for the page */
.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* Header Styles */

/* Set a background color for the header */
header {
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px 0;
}

/* Set a font size for the header */
header h1 {
  font-size: 36px;
}

/* Set the background color of the header */
header.custom-bg {
  background-color: #a020f0 !important;
}

/* Navigation Styles */

/* Set the background color of the nav bar */
nav.custom-bg2 {
  background-color: #333 !important;
}

/* Remove default list styling for navbar-nav */
nav.navbar-nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

/* Style links in the navigation */
nav a {
  color: #fff !important;
  display: block;
  padding: 10px;
  border-radius: 20px;
}

nav a.active,
nav a:hover {
  color: #000 !important;
  text-decoration: none;
  background-color: #ffc545;
}

/* Move the navigation items to the center */
nav .navbar-nav {
  margin: auto;
}

/* Add spacing to the navbar */
nav ul li {
  display: inline-block;
  margin-left: 10px;
}

/* Add custom hamburger icon */
.navbar-toggler:focus span {
  color: #60baae;
}

.navbar-toggler-icon {
  font-size: 30px;
}

/* Main Content Styles */

/* Set a padding for the main content area */
main {
  padding: 50px 0;
}

/* Set a background color for the main content area */
section {
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 50px 0;
  margin-bottom: 50px;
}

/* Set a max width for the content area */
.container {
  max-width: 1500px;
}

/* Style headings */
h2 {
  font-size: 28px;
  margin-bottom: 30px;
}

/* Style cards */
.card {
  border: none;
}

.card-title {
  font-size: 20px;
  margin-bottom: 20px;
}

.card-body {
  padding: 30px;
}

/* Style contact form */
form {
  margin-bottom: 30px;
}

label {
  font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 20px;
}

input[type="submit"],
button[type="submit"] {
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #a020f0;
}

input[type="submit"]:hover,
button[type="submit"]:hover {
  color: #fff;
  background-color: #6403a0;
}

input[type="submit"]:active,
button[type="submit"]:active {
  outline: none;
  border: none;
  box-shadow: none;
  background-color: #6403a0 !important;
}

/* Footer Styles */

/* Set a background color for the footer */
footer {
  background-color: #222;
  color: #fff;
  padding: 20px 0;
}

/* Set a font size for the footer */
footer p {
  font-size: 14px;
}

/* Style social media icons in the footer */
footer ul li {
  margin-right: 20px;
}

footer ul li:last-child {
  margin-right: 0;
}

/* Style Font Awesome icons */
.fab {
  color: #fff;
  font-size: 40px;
}

#btn-back-to-top {
  background-color: #6403a0;
  border-color: #000;
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
}
